body {
    color: white;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    margin-left: 550px;

}

h1 {
    margin-left: 50px;
}

.canvas {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;


}
.reloadCanvas {
    position: absolute;
    margin-top: 50px;
    margin-left: 600px;
    color: rgb(131, 131, 131);
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    font-size: large;
}